ShadowChimera/UserSettings
ShadowChimera/Temp
ShadowChimera/obj
ShadowChimera/Logs
ShadowChimera/Library
ShadowChimera/.vs
ShadowChimera/.vsconfig
ShadowChimera/Assembly-CSharp.csproj
ShadowChimera/ShadowChimera.sln
